.emacs.d.24.4.osx/.python-environments
.emacs.d.24.4.osx/auto-save-list/*
.emacs.d.24.4.osx/userdata
.emacs.d.24.4.osx/abbrev_defs
.emacs.d.24.4.osx/.mc-lists.el
.emacs.d.24.4.osx/.org-id-locations
.emacs.d.24.4.osx/eproject.lst
.emacs.d.24.4.osx/srecode-map.el
.emacs.d.24.4.osx/ac-comphist.dat
.emacs.d.24.4.osx/elpa/*.txt
**/*.elc

**/.DS_Store
