.emacs.d.24.4.osx/.python-environments
.emacs.d.24.4.osx/auto-save-list
.emacs.d.24.4.osx/userdata
.emacs.d.24.4.osx/eshell
.emacs.d.24.4.osx/abbrev_defs
.emacs.d.24.4.osx/.mc-lists.el
.emacs.d.24.4.osx/.org-id-locations
.emacs.d.24.4.osx/eproject.lst
.emacs.d.24.4.osx/srecode-map.el
.emacs.d.24.4.osx/ac-comphist.dat
.emacs.d.24.4.osx/elpa/*.txt
.emacs.d.24.4.osx/semanticdb
.emacs.d.24.4.osx/ido.last
.emacs.d.24.4.osx/projectile-bookmarks.eld
.emacs.d.24.4.osx/projectile.cache
.emacs.d.24.4.osx/recentf
.*~
*~
*#

**/.DS_Store
