/*Locate in "~/.config/gtk-3.0/" to decrease title bar in gnome 3*/

.header.default-decoration {
    padding-top: 1px;
    padding-bottom: 1px;
}

.header-bar.default-decoration .button.titlebutton {
    padding-top: 1px;
    padding-bottom: 1px;
}

.header-bar.default-decoration {
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 1.05),
                                      shade(@theme_bg_color, 0.99));
    box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

