# Enable fcitx (if Wayland, add them manually in =etc/environment=)
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

# Enable Chinese for apps
# export LANG="en_US.UTF-8"
# export LC_CTYPE="zh_CN.UTF-8"

# Swap keys in Xorg (required for KDE/Gnome)
xmodmap ~/.Xmodmap
