# Enable fcitx in Gnome (!NOT working, since default gnome use Wayland)
# adding them manually in =etc/environment=
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

# Enable Chinese in apps
export LANG=en_US.UTF-8
export LC_CTYPE=zh_CN.UTF-8

# Swap keys for apps running on Xorg
#xmodmap ~/.Xmodmap
