body {
	padding-bottom: 40px;
}

.verse {
	border-left-width: 1px;
	color: #6f6f6f;
	padding: 10.5px 21px;
	margin: 0 0 21px;
	border-left: 5px solid #dddddd;
}

blockquote p {
	font-size: inherit;
	font-style: italic;
}

pre.src,
pre.example {
	background-color: #080808;
	color: #f4f4f4;
	font-size: 13px;
}

pre.example {
	border-top: solid 5px #9c0001;
	border-bottom: solid 5px #9c0001;
}

#footnotes {
	font-style: italic;
}

#footnotes h2.footnotes {
	font-size: 18px;
}

#disqus_thread {
	margin-top: 28px;
}

.content img {
    max-width: 100%;
    height: auto;
}
