[Desktop Entry]
Type=Application
Icon=/usr/local/share/icons/matlab.png
Name=MATLAB R2019a
Comment=MATLAB - The Language of Technical Computing
Exec=matlab -desktop
Categories=Development;Math;Science
#Uncomment the following line if you've got several matlab icons in the launcher
#StartupWMClass=com-mathworks-util-PostVMInit
