[Desktop Entry]
Name=Counter-Strike: Condition Zero
Comment=Play this game on Steam
Exec=steam steam://rungameid/80
Icon=steam_icon_80
Terminal=false
Type=Application
Categories=Game;
