[Desktop Entry]
Name=Mendeley Desktop
GenericName=Research Paper Manager
Comment=Mendeley Desktop is software for managing and sharing research papers
Exec=env LD_LIBRARY_PATH=/opt/mendeleydesktop/lib/mendeleydesktop/plugins/platforms XDG_CONFIG_HOME=$HOME/.config.Mendeley_theme_override /home/zyue/.local/share/mendeleydesktop %f
Icon=mendeleydesktop
Terminal=false
Type=Application
Categories=Education;Literature;Qt;
X-SuSE-translate=false
MimeType=x-scheme-handler/mendeley;application/pdf;text/x-bibtex;
X-Mendeley-Version=1
