[user]
	name = oracleyue
	email = oracleyue@gmail.com
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[color]
	ui = true
[difftool.latex]
        cmd = git-latexdiff \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[alias]
	ldiff = difftool -t latex
        ld = difftool -t latex HEAD~1
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD^
        uncommit = reset --soft HEAD^

	last = log -1 HEAD -U1 --word-diff
	graph = log --graph --oneline --decorate
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	type = cat-file -t
	up = remote update
        uno = status -uno
        version = describe --always
[pull]
	rebase = false
[push]
	default = matching
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# proxy for http(s)://
# proxy for git@github.com:xxx via ssh, set in .ssh/config
[http]
        #proxy = http://127.0.0.1:7890
        proxy = socks5://127.0.0.1:7890
